<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Insurance customer potential form</title>
		<link rel="stylesheet" href="../static/style.css" />
	</head>
	<body>
		<form action="{{ url_for('predict')}}" method="post">
			<h2>insurance customer potential form</h2>

			<div class="form-group">
				<p>Gender:</p>
				<div class="">
					<label
						><input
							type="radio"
							name="female"
							value="1"
							required="required"
						/>Female</label
					>
					<label
						><input
							type="radio"
							name="female"
							value="0"
							required="required"
						/>Male</label
					>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="rowInput">
						<p>Client's age:</p>
						<input
							type="number"
							name="age"
							placeholder="Enter age"
							required="required"
						/>
					</div>
					<div class="rowInput">
						<p>Rate health satisfaction from 1 - 10:</p>
						<input
							type="number"
							name="hsat"
							placeholder="Enter rate"
							required="required"
						/>
					</div>
				</div>
			</div>

			<div class="form-group">
				<p>Is there any handicapped person in their family?</p>
				<div class="">
					<label
						><input
							type="radio"
							name="handicapped"
							value="1"
							required="required"
						/>Yes</label
					>
					<label
						><input
							type="radio"
							name="handicapped"
							value="0"
							required="required"
						/>No</label
					>
				</div>
			</div>

			<div class="form-group row">
				<div>
					<p>How many kids are in their family?</p>
					<input
						type="number"
						name="have_kids"
						placeholder="No. of kids"
						required="required"
					/>
				</div>

				<div>
					<p>Years of education:</p>
					<input
						type="number"
						name="years_of_educ"
						placeholder="Enter years"
						required="required"
					/>
				</div>
			</div>
			<div class="form-group">
				<p>What is the percentage of handicap from 1 - 100?</p>
				<input
					type="number"
					name="degree_of_handicap"
					placeholder="Enter the percentage"
					required="required"
				/>
			</div>
			<div class="form-group">
				<p>Marital status:</p>
				<div class="">
					<label
						><input
							type="radio"
							name="marital_status"
							value="1"
							required="required"
						/>Married</label
					>
					<label
						><input
							type="radio"
							name="marital_status"
							value="0"
							required="required"
						/>Otherwise</label
					>
				</div>
			</div>

			<div class="form-group">
				<p>Is their highest degree a polytechnic degree?</p>
				<div class="">
					<label
						><input
							type="radio"
							name="polyd"
							value="1"
							required="required"
						/>Yes</label
					>
					<label
						><input
							type="radio"
							name="polyd"
							value="0"
							required="required"
						/>No</label
					>
				</div>
			</div>

			<div class="form-group">
				<p>Is their highest degree a university degree?</p>
				<div class="">
					<label
						><input
							type="radio"
							name="univ"
							value="1"
							required="required"
						/>Yes</label
					>
					<label
						><input
							type="radio"
							name="univ"
							value="0"
							required="required"
						/>No</label
					>
				</div>
			</div>

			<div class="form-group">
				<p>Is the client working?</p>
				<div class="">
					<label
						><input
							type="radio"
							name="working"
							value="1"
							required="required"
						/>Yes</label
					>
					<label
						><input
							type="radio"
							name="working"
							value="0"
							required="required"
						/>No</label
					>
				</div>
			</div>

			<div class="form-group">
				<p>Is it a blue collar job?</p>
				<div class="">
					<label
						><input
							type="radio"
							name="bluec"
							value="1"
							required="required"
						/>Yes</label
					>
					<label
						><input
							type="radio"
							name="bluec"
							value="0"
							required="required"
						/>No</label
					>
				</div>
			</div>

			<div class="form-group">
				<p>Is it a white collar job?</p>
				<div class="">
					<label
						><input
							type="radio"
							name="whitec"
							value="1"
							required="required"
						/>Yes</label
					>
					<label
						><input
							type="radio"
							name="whitec"
							value="0"
							required="required"
						/>No</label
					>
				</div>
			</div>

			<div class="form-group">
				<p>Are they self employed?</p>
				<div class="">
					<label
						><input
							type="radio"
							name="self"
							value="1"
							required="required"
						/>Yes</label
					>
					<label
						><input
							type="radio"
							name="self"
							value="0"
							required="required"
						/>No</label
					>
				</div>
			</div>

			<div class="form-group">
				<p>Is the client a civil servant?</p>
				<div class="">
					<label
						><input
							type="radio"
							name="civil"
							value="1"
							required="required"
						/>Yes</label
					>
					<label
						><input
							type="radio"
							name="civil"
							value="0"
							required="required"
						/>No</label
					>
				</div>
			</div>

			<div class="form-group">
				<p>
					How many times have they visited a doctor in the last three months?
				</p>
				<input
					type="number"
					name="docvis"
					placeholder="No. of visits"
					required="required"
				/>
			</div>

			<div class="form-group">
				<p>How many times have they visited the hospital in the past year?</p>
				<input
					type="number"
					name="hospvis"
					placeholder="No. of visits"
					required="required"
				/>
			</div>

			<div class="form-group">
				<p>What is the annual income of the client's household?</p>
				<input
					type="number"
					name="income"
					placeholder="Enter amount"
					required="required"
				/>

				<div
					style="
						margin-top: 20px;
						margin-bottom: 20px;
						display: flex;
						align-items: center;
						justify-content: center;
					"
				>
					Add predictions here
				</div>
			</div>

			<button type="submit">Predict</button>
		</form>
	</body>
</html>
